{% extends base.html %}
{% block content %}

<div class="row justify-content-center" style="margin-top: 50px;">
  <a href="/endpoints">
    <div class="col-sm-auto grid-item" style="background-color: #117ab8;;">
      <h1>Deployed Models</h1>
        <ul>
          <p>View, add, or update models</p>
        </ul>
    </div>
  </a>
  <a href="/users">
    <div class="col-sm-auto grid-item" style="background-color: #c97814;">
      <h1>Registered Users</h1>
        <ul>
          <p>View, add, or update users</p>
        </ul>
    </div>
  </a>
</div>

<div class="row justify-content-center">
  <a href="/settings">
    <div class="col-sm-auto grid-item" style="background-color: #a62519;">
      <h1>Settings</h1>
      <p>Modify server configuration</p>
    </div>
  </a>
  <div class="col-sm-auto grid-item" style="background-color: #422599;">
    <h1>Useful links</h1>
    <ul>
      <li class="under"><a href="https://tableau.github.io/TabPy/" target="_blank">TabPy Documentation</a></li>
      <li class="under"><a href="https://github.com/tableau/TabPy" target="_blank">TabPy Source Code</a></li>
      <li class="under"><a href="https://pypi.org/project/tabpy/" target="_blank">TabPy PyPi</a></li>
    </ul>
  </div>
</div>

{% end %}